body{
  background-image: url('../images/back.png');
  color: whitesmoke;
}
.clr{
  color: whitesmoke;
}
.timer {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: whitesmoke;
}
.date
{
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  color: whitesmoke;
  font-weight: 300;
}
.hide
{
  display: none;
}
.count-down
{
  border: 3px outset black;
  padding-right: 15px;
  padding-left: 15px;
}
.hide{
  display: none;
}